<h1>New Physical Profile</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.physical_profile_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.physical_profile_path(@conn, :index) %></span>
