<html>
  <head>
  </head>
  <body>
      <section class="phx-hero">
        <h1><%= gettext "Welcome to %{name}!", name: "Calories" %></h1>
        <p>An app that will help you<br/>keep your diet in line!</p>
      </section>

      <section class="row">
        <article class="column">
          <h2>Your Profile</h2>
          <ul>
          <%= if @current_user do %>
            <h2 style = "position:absolute; left:350px; top:275px;">User CPM: <br> <%= @user_cpm %></h2>
            <li>
              <%= link "Your Cpm", to: Routes.physical_profile_path(@conn, :index) %>
            </li> 
            <li>
              <%= link "Users", to: Routes.user_path(@conn, :index) %>
            </li>
            <li>
              <%= link "Foods", to: Routes.food_path(@conn, :index) %> 
            </li>
            <div class="form-group">
            <%= form_for @changeset, Routes.consumption_path(@conn, :create), fn f ->  %>
            
              <%= label f, :food_id, "Foods" %>
              <%= select f, :food_id, @foods, prompt: "Choose a product" %>
              <div>
               <%= submit "Save" %>
              </div>
            <% end %>
            
            </div>
          <% end %>
          </ul>
        </article>
      </section>
  </body>
</html>
